#apache-airflow
#apache-airflow-providers-amazon
#apache-airflow-providers-common-io
#apache-airflow-providers-common-sql
#apache-airflow-providers-databricks
#apache-airflow-providers-fab
#apache-airflow-providers-ftp
#apache-airflow-providers-google
#apache-airflow-providers-http
#apache-airflow-providers-imap
#apache-airflow-providers-mysql
#apache-airflow-providers-smtp
#apache-airflow-providers-snowflake
#apache-airflow-providers-sqlite
#apache-airflow-providers-ssh
#apache-beam
#avro
#avro-python3
#azure-datalake-store
#backports-zoneinfo
#crcmod
#dbt-core
#dbt-extractor
#dbt-semantic-interfaces
#delta-spark
#docopt
#fire
#google-ads
#google-cloud-aiplatform
#google-cloud-appengine-logging
#google-cloud-audit-log
#google-cloud-automl
#google-cloud-bigquery
#google-cloud-bigquery-datatransfer
#google-cloud-bigquery-storage
#google-cloud-bigtable
#google-cloud-build
#google-cloud-compute
#google-cloud-container
#google-cloud-core
#google-cloud-datacatalog
#google-cloud-dataform
#google-cloud-dataplex
#google-cloud-dataproc
#google-cloud-dataproc-metastore
#google-cloud-dlp
#google-cloud-firestore
#google-cloud-kms
#google-cloud-language
#google-cloud-logging
#google-cloud-memcache
#google-cloud-monitoring
#google-cloud-orchestration-airflow
#google-cloud-os-login
#google-cloud-pubsub
#google-cloud-redis
#google-cloud-resource-manager
#google-cloud-secret-manager
#google-cloud-spanner
#google-cloud-speech
#google-cloud-storage
#google-cloud-tasks
#google-cloud-texttospeech
#google-cloud-translate
#google-cloud-videointelligence
#google-cloud-vision
#google-cloud-workflows
#google-crc32c
#google-pasta
#google-re2
#google-resumable-media
#googleapis-common-protos
#gsutil
#kfp
#kfp-pipeline-spec
#langchain
#langchain-community
#langchain-core
#langchain-text-splitters
#mysqlclient
#nvidia-cublas-cu11
#nvidia-cublas-cu12
#nvidia-cuda-cupti-cu12
#nvidia-cuda-nvrtc-cu11
#nvidia-cuda-nvrtc-cu12
#nvidia-cuda-runtime-cu11
#nvidia-cuda-runtime-cu12
#nvidia-cudnn-cu11
#nvidia-cudnn-cu12
#nvidia-cufft-cu12
#nvidia-curand-cu12
#nvidia-cusolver-cu12
#nvidia-cusparse-cu12
#nvidia-nccl-cu12
#nvidia-nvjitlink-cu12
#nvidia-nvtx-cu12
#protobuf3-to-dict
#psycopg
#psycopg2
#pycrypto
#pypular
#pysftp
#pyspark
#pywin32
#ratelimit
#sagemaker
#sklearn
#sqlalchemy-bigquery
#starkbank-ecdsa
#tensorflow-io-gcs-filesystem
#tensorflow-text
#thrift
#triton
#typed-ast
#unicodecsv
absl-py
accelerate
adal
aenum
agate
aiobotocore
aiofiles
aiohttp
aioitertools
aiosignal
alabaster
alembic
altair
amqp
analytics-python
aniso8601
annotated-types
ansible
ansible-core
antlr4-python3-runtime
anyio
apispec
appdirs
applicationinsights
apscheduler
argcomplete
argon2-cffi
argon2-cffi-bindings
argparse
arrow
asgiref
asn1crypto
astor
astroid
asttokens
astunparse
async-lru
async-timeout
asyncio
asynctest
attrs
authlib
autopep8
aws-psycopg2
aws-requests-auth
aws-sam-translator
aws-xray-sdk
awscli
awscrt
awswrangler
azure-appconfiguration
azure-batch
azure-cli
azure-cli-core
azure-cli-telemetry
azure-common
azure-core
azure-cosmos
azure-data-tables
azure-devops
azure-eventhub
azure-graphrbac
azure-identity
azure-keyvault
azure-keyvault-administration
azure-keyvault-certificates
azure-keyvault-keys
azure-keyvault-secrets
azure-loganalytics
azure-mgmt-advisor
azure-mgmt-apimanagement
azure-mgmt-appconfiguration
azure-mgmt-applicationinsights
azure-mgmt-authorization
azure-mgmt-batch
azure-mgmt-batchai
azure-mgmt-billing
azure-mgmt-botservice
azure-mgmt-cdn
azure-mgmt-cognitiveservices
azure-mgmt-compute
azure-mgmt-consumption
azure-mgmt-containerinstance
azure-mgmt-containerregistry
azure-mgmt-containerservice
azure-mgmt-core
azure-mgmt-cosmosdb
azure-mgmt-datafactory
azure-mgmt-datalake-analytics
azure-mgmt-datalake-nspkg
azure-mgmt-datalake-store
azure-mgmt-datamigration
azure-mgmt-devtestlabs
azure-mgmt-dns
azure-mgmt-eventgrid
azure-mgmt-eventhub
azure-mgmt-hdinsight
azure-mgmt-imagebuilder
azure-mgmt-iotcentral
azure-mgmt-iothub
azure-mgmt-iothubprovisioningservices
azure-mgmt-keyvault
azure-mgmt-kusto
azure-mgmt-loganalytics
azure-mgmt-managedservices
azure-mgmt-managementgroups
azure-mgmt-maps
azure-mgmt-marketplaceordering
azure-mgmt-media
azure-mgmt-monitor
azure-mgmt-msi
azure-mgmt-netapp
azure-mgmt-network
azure-mgmt-nspkg
azure-mgmt-policyinsights
azure-mgmt-privatedns
azure-mgmt-rdbms
azure-mgmt-recoveryservices
azure-mgmt-recoveryservicesbackup
azure-mgmt-redhatopenshift
azure-mgmt-redis
azure-mgmt-relay
azure-mgmt-reservations
azure-mgmt-resource
azure-mgmt-search
azure-mgmt-security
azure-mgmt-servicebus
azure-mgmt-servicefabric
azure-mgmt-servicefabricmanagedclusters
azure-mgmt-servicelinker
azure-mgmt-signalr
azure-mgmt-sql
azure-mgmt-sqlvirtualmachine
azure-mgmt-storage
azure-mgmt-synapse
azure-mgmt-trafficmanager
azure-mgmt-web
azure-multiapi-storage
azure-nspkg
azure-servicebus
azure-storage-blob
azure-storage-common
azure-storage-file-datalake
azure-storage-file-share
azure-storage-queue
azure-synapse-artifacts
azure-synapse-spark
babel
backcall
backoff
backports-tarfile
bcrypt
beautifulsoup4
billiard
bitarray
black
bleach
blinker
blis
boto
boto3
boto3-stubs
botocore
botocore-stubs
bracex
brotli
bs4
build
bytecode
cachecontrol
cached-property
cachelib
cachetools
catalogue
cattrs
celery
cerberus
certifi
cffi
cfgv
cfn-lint
chardet
charset-normalizer
chex
cinemagoer
cleo
click
click-didyoumean
click-man
click-plugins
click-repl
cligj
cloud-tpu-client
cloudpathlib
cloudpickle
cmake
colorama
coloredlogs
colorlog
comm
commonmark
confection
configargparse
configparser
confluent-kafka
connexion
constructs
contextlib2
contourpy
convertdate
coverage
cramjam
crashtest
cron-descriptor
croniter
cryptography
cssselect
cycler
cymem
cython
dacite
dask
databricks-cli
databricks-sdk
databricks-sql-connector
dataclasses
dataclasses-json
datadog
datadog-api-client
datasets
datefinder
dateparser
datetime
db-contrib-tool
db-dtypes
ddsketch
ddtrace
debugpy
decorator
deepdiff
defusedxml
deprecated
deprecation
dill
diskcache
distlib
distro
django
django-cors-headers
django-filter
djangorestframework
dm-tree
dnspython
docker
docker-pycreds
docstring-parser
docutils
dulwich
ecdsa
edgegrid-python
einops
elastic-transport
elasticsearch
elasticsearch-dsl
email-validator
entrypoints
enum34
envier
et-xmlfile
evergreen-py
exceptiongroup
execnet
executing
fabric
faiss-cpu
faker
fast-version
fastapi
fastapi-cli
fastavro
fasteners
fastjsonschema
fastparquet
fastpurge
filelock
fiona
flake8
flask
flask-appbuilder
flask-caching
flask-cors
flask-jwt-extended
flask-limiter
flask-login
flask-sqlalchemy
flask-wtf
flatbuffers
flit-core
fonttools
fqdn
freezegun
frozenlist
fsspec
ftfy
funcsigs
future
futures
fuzzywuzzy
gast
gcloud-aio-auth
gcloud-aio-bigquery
gcloud-aio-storage
gcsfs
gensim
geographiclib
geoip2
geopandas
geopy
gevent
gitdb
gitpython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud
gradio
gradio-client
graphene
graphql-core
graphql-relay
graphviz
great-expectations
greenlet
gremlinpython
grpc-google-iam-v1
grpcio
grpcio-gcp
grpcio-status
grpcio-tools
gspread
gunicorn
h11
h2
h5py
hatchling
holidays
hpack
html5lib
httpcore
httplib2
httptools
httpx
huggingface-hub
humanfriendly
humanize
hvac
hyperframe
hyperlink
hypothesis
identify
idna
ijson
imageio
imagesize
imbalanced-learn
imdbpy
importlib-metadata
importlib-resources
inflect
inflection
iniconfig
inject
installer
invoke
ipaddress
ipykernel
ipython
ipython-genutils
ipywidgets
iso8601
isodate
isoduration
isort
itsdangerous
jaraco-classes
jaraco-context
jaraco-functools
javaproperties
jax
jaxlib
jaydebeapi
jedi
jeepney
jinja2
jira
jmespath
joblib
jpype1
json5
jsondiff
jsonpatch
jsonpath-ng
jsonpickle
jsonpointer
jsonschema
jsonschema-specifications
junit-xml
junitparser
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kafka-python
keras
keras-applications
keras-preprocessing
keyring
kiwisolver
knack
kombu
kubernetes
langcodes
langsmith
language-data
lark
lazy-loader
lazy-object-proxy
leather
levenshtein
libclang
libcst
lightgbm
lightning-utilities
limits
linkify-it-py
llvmlite
locket
lockfile
loguru
looker-sdk
lxml
lz4
makefun
mako
marisa-trie
markdown
markdown-it-py
markupsafe
marshmallow
marshmallow-enum
marshmallow-sqlalchemy
mashumaro
matplotlib
matplotlib-inline
maxminddb
mccabe
mdit-py-plugins
mdurl
mergedeep
mistune
ml-dtypes
mlflow
mlflow-skinny
mock
monotonic
more-executors
more-itertools
moto
mpmath
msal
msal-extensions
msgpack
msrest
msrestazure
multidict
multiprocess
murmurhash
mypy
mypy-boto3-appflow
mypy-boto3-rds
mypy-boto3-s3
mypy-extensions
mysql-connector-python
natsort
nbclient
nbconvert
nbformat
ndg-httpsclient
nest-asyncio
netaddr
networkx
nh3
ninja
nltk
nodeenv
nose
notebook
notebook-shim
numba
numpy
oauth2client
oauthlib
office365-rest-python-client
omegaconf
onnx
onnxruntime
openai
openapi-spec-validator
opencensus
opencensus-context
opencensus-ext-azure
opencv-python
opencv-python-headless
openpyxl
opensearch-py
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
opt-einsum
optax
orbax-checkpoint
ordered-set
orderedmultidict
orjson
oscrypto
outcome
overrides
packaging
pandas
pandas-gbq
pandocfilters
parameterized
paramiko
parse
parsedatetime
parso
partd
pathlib
pathlib2
pathos
pathspec
pathy
patsy
pbr
pendulum
pexpect
pg8000
phonenumbers
pickleshare
pika
pillow
pip
pip-tools
pipenv
pipx
pkce
pkginfo
pkgutil-resolve-name
platformdirs
plotly
pluggy
ply
poetry
poetry-core
poetry-plugin-export
polars
portalocker
pox
ppft
pre-commit
preshed
prettytable
progressbar2
prometheus-client
prometheus-flask-exporter
prompt-toolkit
proto-plus
protobuf
psutil
psycopg2-binary
ptyprocess
pure-eval
py
py-cpuinfo
py4j
pyaml
pyarrow
pyarrow-hotfix
pyasn1
pyasn1-modules
pyathena
pybind11
pycodestyle
pycountry
pycparser
pycryptodome
pycryptodomex
pydantic
pydantic-core
pydantic-settings
pydata-google-auth
pydeequ
pydot
pydub
pyee
pyflakes
pygithub
pygments
pyhcl
pyjwt
pylint
pymongo
pymssql
pymysql
pynacl
pyodbc
pyopenssl
pyotp
pyparsing
pypdf
pypdf2
pyproj
pyproject-api
pyproject-hooks
pyroaring
pyrsistent
pysam
pyserial
pysocks
pyspnego
pytest
pytest-asyncio
pytest-cov
pytest-forked
pytest-html
pytest-metadata
pytest-mock
pytest-rerunfailures
pytest-runner
pytest-timeout
pytest-xdist
python-daemon
python-dateutil
python-docx
python-dotenv
python-gitlab
python-gnupg
python-http-client
python-jose
python-json-logger
python-levenshtein
python-magic
python-multipart
python-slugify
python-utils
pytimeparse
pytorch-lightning
pytz
pytzdata
pywavelets
pyyaml
pyzmq
qtconsole
qtpy
querystring-parser
rapidfuzz
readme-renderer
redis
redshift-connector
referencing
regex
reportlab
requests
requests-aws4auth
requests-file
requests-mock
requests-ntlm
requests-oauthlib
requests-toolbelt
resolvelib
responses
retry
retrying
rfc3339-validator
rfc3986
rfc3986-validator
rich
rich-argparse
rpds-py
rsa
ruamel-yaml
ruamel-yaml-clib
ruff
s3fs
s3transfer
safetensors
schema
scikit-image
scikit-learn
scipy
scp
scramp
seaborn
secretstorage
selenium
semantic-version
semver
send2trash
sendgrid
sentencepiece
sentry-sdk
setproctitle
setuptools
setuptools-rust
setuptools-scm
sh
shap
shapely
shellingham
simple-salesforce
simplejson
six
slack-sdk
slackclient
slicer
smart-open
smdebug-rulesconfig
smmap
sniffio
snowballstemmer
snowflake-connector-python
snowflake-sqlalchemy
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
spark-nlp
sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlalchemy
sqlalchemy-utils
sqlparse
srsly
sshtunnel
stack-data
starlette
statsd
statsmodels
stevedore
strenum
structlog
swagger-ui-bundle
sympy
tabulate
tb-nightly
tblib
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-hub
tensorflow-metadata
tensorflow-serving-api
tensorstore
termcolor
terminado
text-unidecode
texttable
tf-keras
that-depends
thinc
threadpoolctl
tifffile
tiktoken
time-machine
timm
tinycss2
tldextract
tokenizers
toml
tomli
tomlkit
toolz
torch
torchaudio
torchmetrics
torchvision
tornado
tox
tqdm
traitlets
transformers
trio
trio-websocket
trove-classifiers
twine
typedload
typeguard
typer
types-awscrt
types-protobuf
types-python-dateutil
types-pytz
types-pyyaml
types-requests
types-s3transfer
types-setuptools
types-urllib3
typing
typing-extensions
typing-inspect
tzdata
tzlocal
uamqp
uc-micro-py
ujson
unidecode
universal-pathlib
uri-template
uritemplate
urllib3
userpath
uv
uvicorn
uvloop
validators
vine
virtualenv
wandb
wasabi
watchdog
watchfiles
watchtower
wcwidth
webcolors
webencodings
websocket-client
websockets
werkzeug
wheel
widgetsnbextension
wrapt
wsproto
wtforms
xarray
xgboost
xlrd
xlsxwriter
xmltodict
xxhash
yamllint
yapf
yarl
zeep
zipp
zope-event
zope-interface
zstandard
